@using System.Data
@model TakeHome_MVC.Models.CustomerViewModel

@{
    ViewBag.Title = "Customer Orders";
    Layout = "_Layout";
}

<div class="container border">
    <h2>Orders</h2>
    <div class="row">
        
        <div class="col-lg-7 ml-4">
            <p>
                <b>Name</b><br/>
                @Model.FullName
            </p>
        </div>
        
        <div class="col-md-4 col-md-offset-4">
            <p>
                <b>Customer #</b><br/>
                @Model.CustomerNumber
            </p>
        </div>
    </div>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            @foreach (DataColumn column in @Model.PivotData.Columns)
            {
                <th scope="col">@column.ColumnName</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (DataRow row in @Model.PivotData.Rows)
        {
            <tr>
                @foreach (DataColumn dataColumn in Model.PivotData.Columns)
                {
                    <td>@row[dataColumn]</td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>